
/* Import fonts */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Hind Madurai */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Apply to all elements (override browser defaults) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;     /* Apply to the element including border */
}

/* Header and navigation bar */
header {
    /* Box shadow */
    /* box-shadow: 2px 2px rgba(191,191,191,0.4); */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000000;
    width: 100%;
    height: 10vh;
    position: fixed; */
    padding: 10px
}

/* Strech body larger than the screen height  */
/* body becomes flex container for the header, main and footer. */
body {
    min-height: 100vh;      
    display: flex;
    flex-direction: column;
}

/* Main grows to take up all space */
main {
    flex: 1 0 auto;
}


/* Remove the underlines from links */
/* a {
    text-decoration: none;
    color: #fafafa;
} */

/* header label {
    font-size: 2rem;
    align-self: center;
} */

/* Move Logo to the beginning */
h1 {
    /* align-self: flex-start; */
    /* Declare font and color of h1 */
    /* font-family: Montserrat, sans-serif;
    color: #000000; */
}

/* Navigation menu appears when the burger icon is clicked */
/* nav {
    position: absolute;
    display: none;
    top: 100%;      
} */

/* Remove the bullet points from the list icons */
/* #nav-icons {
    font-size: 110%;
    list-style-type: none;
    color: #fafafa;
    letter-spacing: 1px;
} */

/* Separate list items */
/* li {
    padding: 5px 0;
} */

/* Navigation toggle */
/* #nav-toggle:checked~nav {
    display: block;
}
#nav-toggle{
    display: none;
}

.a:hover {
    background-color: #fafafa;
} */













/* h2 {
    font-family: Lora, serif;
}

h3, h4, p {
    font-family: "Hind Madurai", serif;
    color: #fafafa;
} */















/* Main */



/* main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main-bg {
    background: url("../images/felix-mittermeier-Knwea-mLGAg-unsplash-compressed.webp") no-repeat center center;
    background-size: auto 100%;
    margin: 0;
}


#who{
    border: 3px solid rgba(191,191,191,0.4);
    width: 100vw;    
} */


















/* Gallery page */


/* #solar-bg {
    background: url("../images/pexels-zch-7568783.webp") no-repeat center center;
    background-size: auto 100%;
    margin: 0;
    height: 97vh;
} */














/* Footer */



/* #social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 120%;
    background-color: rgba(191,191,191,0.4);
    box-shadow: 2px 0 0 1px #ffffff;
} */