
/* Import fonts */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Hind Madurai */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Apply to all elements (override browser defaults) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;     /* Apply to the element including border */
    font-family: Lora, serif;
    color: #ffffff;
}

/* Strech body larger than the screen height. This pushes the footer down.  */
/* body becomes flex container for the header, main and footer. */
body {
    min-height: 100vh;      
    display: flex;
    flex-direction: column;
}


/* Header and navigation bar */
/* header becomes flex container for the a, input and nav. */
header {
    padding: 0 10px;
    /* Box shadow */
    box-shadow: 3px 3px rgba(191,191,191,0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
}

/* Main grows to take up all space */
/* main {
    flex: 1 0 auto;
} */

/* Enlarge the burger icon and center it */
.nav-toggle-label {
    font-size: 1.8rem;
    align-self: center;
    padding-top: 5px;
}

/* Color the icons black */
header i {
    color: #000000; 
}

header h1 {
    text-transform: uppercase;
}

/* Remove the underlines from links */
a {
    text-decoration: none;
}

/* Declare font and color of h1 */
header a, header h1 {
    color: #000000;
    font-family: Montserrat, sans-serif;
}

/* Navigation menu appears when the burger icon is clicked */
#nav-bar {
    /* position: absolute; */
    display: none;
    width: 100%;
}

/* Remove the bullet points from the list icons */
#nav-icons {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 1px;
    text-align: left;
}

/* Navigation toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Remove the checkbox */
#nav-toggle{
    display: none;
}

#nav-icons a:hover {
    background-color: #8a8888;
    color:#ffffff;
}

/* Separate list items */
nav li {
    padding: 5px 0;
}




/* Main */

h2 {
    margin-left: 5px;
}

h3, h4, p {
    font-family: "Hind Madurai", serif;
}

/* Padding the paragraphs */
p {
    padding: 5px 5px;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background: url("../images/imgonline-com-ua-twotoone-F5QIzMBRDFg-compressed.webp") repeat center center;
    background-size: 100% auto;
    margin-top: 50px;
    padding-top: 30px;
    flex-grow: 1;
}

/* Make the sections breathe */
section {
    padding: 10px;
}


/* .about div div {
    margin: 0 5px 10px 10px;  
    text-align: justify; */
    /* font-size: 90%;  */
/* } */

/* Hover effects */
.intro-container a:hover {
    color:rgb(218, 149, 22);
}

/* Target the content in paragraphs*/
.border-box {
    border: 3px solid rgba(191,191,191,0.4);
    box-shadow: 3px 3px rgba(191,191,191,0.4);
    margin: 0 5px 10px 10px;  
    text-align: justify; 
}


/* Our inspiration Heading */
.inspiration > h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.inspiration h3{
    font-size: 1.5rem;
    text-align: center;
}

.inspiration h3:hover{
    color:rgb(218, 149, 22);
}

.inspiration p {
    text-align: justify;
    border: 3px solid rgba(191,191,191,0.6);
    box-shadow: 3px 3px rgba(191,191,191,0.4);
    display: none;
}

/* Carl Sagan toggle */
#carl-toggle:checked~p, #brian-toggle:checked~p, #edwin-toggle:checked~p {
    display: block;
}
/* Remove the checkbox */
#carl-toggle, #brian-toggle, #edwin-toggle {
    display: none;
}


.circle-cover-bg{
    width: 50vw;
    height: 50vw;
    margin: 20px auto;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-height: 300px;
    max-width: 300px;
}

#carl {
    background: url("../images/carl.webp") no-repeat center center/cover;
}


#brian {
    background: url("../images/brian.webp") no-repeat center center/cover;
}

#edwin {
    background: url("../images/Edwin_Powell_Hubble_\(cropped\).webp") no-repeat center center/cover;
}









/* Locations page */

.continents-container















/* Footer */



#social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 120%;
    background-color: rgba(7, 3, 51, 0.6);
    /* box-shadow: 2px 0 0 1px rgba(191,191,191,0.4); */
}



/* Responsive design */
/* Media query: for tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Enlarge the burger icon and center it */
    .nav-toggle-label {
        display: none;
    }

    #nav-bar {
        /* position: absolute; */
        display: block;
        width: fit-content;
        justify-content: center;
        align-content: center;
    }

    /* Navigation menu appears when the burger icon is clicked */
    #nav-icons {
        /* position: absolute; */
        display: flex;
        flex-direction: row;
        /* width: fit-content; */
    }

    /* Remove the checkbox */
    #nav-toggle{
        display: none;
    }

    /* Separate list items */
    nav li {
        padding: 0 10px;
    }

    header h1 {
        font-size: 250%;
    }

    #social-networks a {
        font-size: 150%;
    }

    .intro-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 45vh;
    }

    .intro-flex {
        flex-basis: 33%;
        padding: 10px;
    }

    #howto-box {
        order: 2;
    }

    #joinus-box {
        align-self: flex-end;
        order: 1 ;
    }

    .middle-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .middle-flex {
        flex-basis: 33%;
        padding: 10px;
    }

    .last-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .last-flex {
        flex-basis: 50%;
        padding: 10px;
    }
    

    /* Increase font size of h3 and p */
    h3, p {
        font-size:120%;
    }





}




